body {

    font-size: 16px;
    font-family: "Open Sans", serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {
    align-content: center;
    text-align: center;
    padding-top: 10px;
}

#question {
    background: lightblue;
    height: 400px;
    /*width: 210px;*/
}

#answers {
    margin-left: auto;
    margin-right: auto;

}

.btn {
    margin-top: 20px;
    margin-right: 20px;
}

.btn-answer {

    padding-top: 10px;
    padding-right: 10px;
}

.btn-question {
    min-width: 120px;
    min-height: 50px;

}
.centered {
    margin: 0px auto;
}



.jumbotron {

    z-index: -1;
}