<template name="home">
    <h2>Pick the type of math operation to begin.</h2>
    <a href="{{pathFor 'question'}}" id="+" class="btn btn-default btn-lg btn-question">Addition</a>
    <a href="{{pathFor 'question'}}" id="-" class="btn btn-default btn-lg btn-question">Subtraction</a>
    <a href="{{pathFor 'question'}}" id="*" class="btn btn-default btn-lg btn-question">Multiplication</a>
    <a href="{{pathFor 'question'}}" id="/" class="btn btn-default btn-lg btn-question">Division</a>
</template>

<template name="question">
    <h2>Solve the following:</h2><br>
    <h2>{{operation}}</h2>
    <h3>Select one of the answers: <br>{{#each offeredAnswers}}
        <a href="{{pathFor 'answer'}}" class="btn btn-default btn-lg btn-question" id="{{this}}">{{this}}</a>
    {{/each}}</h3>
</template>

<template name="correct">
    <h2>Correct!</h2>
    <button type="button" class="btn btn-success btn-lg btn-question" id="{{rightAnswer}}">{{rightAnswer}}</button>
    <br>
    <a href="{{pathFor 'question'}}" class="btn btn-default btn-lg btn-question">Next</a>
    <a href="{{pathFor 'home'}}" class="btn btn-default btn-lg btn-question">Home</a>
</template>

<template name="incorrect">
    <h2>Incorrect!</h2>
    <button type="button" class="btn btn-danger btn-lg btn-question" id="wrong">{{clicked}}</button>
    <h3>The right answer is: {{rightAnswer}}</h3>
    <br>
    <a href="{{pathFor 'question'}}" class="btn btn-default btn-lg btn-question">Next</a>
    <a href="{{pathFor 'home'}}" class="btn btn-default btn-lg btn-question">Home</a>
</template>

<template name="todo">
    <h2>To Do List: </h2>
    <ul class="list">
        <li>Add users</li>
        <li>Add database for used flashcards</li>
        <li>Add a page with statistics for each user</li>
        <li>Refactor the code</li>
        <li>Work on the visual details and animations</li>
    </ul>
</template>